<%-- any content can be specified here e.g.: --%>
<tr>
    <td  id="item"><bean:message key="label.sender"/></td>
<td><html:text property="sender" value="${smsIn.sender}"/></td>
<td style="color: red"><html:errors property="sender"/></td></tr> 
<tr>
    <td id="item"><bean:message key="label.receiver"/></td>
<td><html:text property="receiver" value="${smsIn.receiver}"/></td>
<td style="color: red"><html:errors property="receiver"/></td>
</tr>
<tr>
    <td id="item"><bean:message key="label.msg"/></td>
<td><html:textarea property="msg" value="${smsIn.msg}" rows="3" cols="20"/></td> 
<td style="color: red"><html:errors property="msg"/></td>
</tr>
<tr>
    <td id="item"><bean:message key="label.reference"/></td>
<td><html:textarea property="reference" cols="20" rows="3" value="${smsIn.reference}"/></td>
<td style="color: red"><html:errors property="description"/></td>
</tr>