
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<c:set var="id" value="${data.id}"/>
<display:column property="id" title="ID" sortable="true"/>
<display:column property="receiver" title="Receiver" sortable="true"/>
<display:column property="sender" title="Sender" sortable="true"/>
<display:column title="Time" sortable="true">
    <fmt:formatDate pattern="dd-MMM-yyyy" value="${data.receivedtime}"/>
</display:column>
<display:column property="replyStatus" title="Status" sortable="true"/>
<display:column title="Action">
    <html:link page="/SmsInAction.do?method=edit" paramName="id" paramId="id">Edit</html:link>
    <html:link page="/SmsInAction.do?method=delete" paramName="id" paramId="id">Delete</html:link>
</display:column> 