<%-- any content can be specified here e.g.: --%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<tr>
    <td colspan="2" height="3">&nbsp;</td>
</tr> 
<tr>
    <td colspan="2"><bean:message key="sub.header.revocation"/></td>
</tr>
<tr>
    <td  id="item" style="width: 33%"><bean:message key="label.revoke.reason"/></td>
    <td><c:out value="${revocation.reasons}" default="No"/></td>
</tr>
<tr>
    <td id="item" style="width: 33%"><bean:message key="label.comment"/></td>
<td><div class="messageBox">${revocation.revokComment}</div></td>
</tr>
<tr>
    <td id="item" style="width: 33%"><bean:message key="label.apply.date"/></td>
    <td><fmt:formatDate pattern="dd-MMM-yyyy" value="${revocation.applyDate}"/></td>
</tr>
<tr>
    <td id="item" style="width: 33%"><bean:message key="label.status"/></td>
    <td><bean:message key="status.revocation.${revocation.status}"/></td>
</tr>

