﻿.style1 {
	border-style: none;
	border-width: 1px;
	border-color: #DDDDDD;
	background-image: url('images/content_spacer_vert.jpg');
}
.style2 {
	background-image: url('images/spacer_content_15x1.jpg');
}
body {
	font-family: arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #333333;
	line-height: 13pt;
}
h4 {
	font-size: small;
}
.style5 {
	text-align: left;
	padding: 0px 0px 0px 9px;
	font-size: 10pt;
	color: #333333;
}
#panel {
	padding: 0px;
	width: 355px;
	margin: 0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 9pt;
	vertical-align: text-top;
	text-align: left;
	color: #333333;
}
#panel li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 17px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;
}
#panel li a:link, #panel li a:visited {
	border-style: none none dotted none;
	border-width: 1px;
	border-color: #0E3015;
	color: #FFF;
	display: block;
	padding: 10px;
	background-color: #5B955B;
	vertical-align: middle;
	text-align: left;
}
#panel li a:hover {
	border-style: none none dotted none;
	border-width: 1px;
	border-color: #5B955B;
	color: #FFF;
	background: 0 -32px;
	padding: 10px;
	display: block;
	background-color: #0E3015;
	text-align: left;
	vertical-align: middle;
}

.style6 {
	padding: 0px 9px 0px 0px;
	font-size: 9pt;
	color: #333333;
}
.style7 {
	margin-left: 10px;
	margin-right: 10px;
}
#divider {
	background-image: url('images/content_spacer_vert.jpg');
	background-repeat: repeat-x;
	height: 18px;
}
#spacer_divider {
	padding: 0px 0px 0px 9px;
	background-image: url('images/spacer.gif');
	background-repeat: repeat-x;
	height: 18px;
}

.style8 {
	margin: 5px;
}

#quote {
	font-style: italic;
	background-color: #f5f5f5;
	padding: 15px;
	border-style: solid none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	width: 500px;
	font-family: georgia;
	font-size: 8pt;
}
.style10 {
	line-height: 19px;
	margin-left: 25px;
	margin-bottom: 20px;
}

#footer {
	color: #666666;
	font-size: x-small;
	text-transform: uppercase;
}
#footer a:link, #footer a:visited{
	color: #666666;
	text-decoration: none;
	text-transform: uppercase;
	font-size: x-small;
}
#footer a:hover {
	color: #01b517;
	text-decoration: none;
	text-transform: uppercase;
	font-size: x-small;
}
#toper {
	color: #666666;
	font-size: x-small;
	text-transform: uppercase;
	text-align: right;
	vertical-align: bottom;
	font-weight: 200;
}
#toper a:link, #toper a:visited{
	padding: 5px 10px 5px 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: x-small;
	background-color: #333333;
}
#toper a:hover {
	color: #01b517;
	text-decoration: none;
	text-transform: uppercase;
	font-size: x-small;
}

a:link, a:visited {
	color: #01b517;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#menu1 {
	padding: 0px;
	width: 265px;
	margin: 0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: middle;
	text-align: left;
}

#menu1 li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 12px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;
}
#menu1 li a:link, #menu1 li a:visited {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #666666;
	display: block;
	padding: 10px;
	background-color: #FFFFFF;
	vertical-align: middle;
	text-align: left;
}
#menu1 li a:hover {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFF;
	background: 0 -32px;
	padding: 10px;
	display: block;
	background-color: #999999;
	text-align: left;
	vertical-align: middle;
}
#menu1home {
	padding: 0px;
	width: 265px;
	margin: 0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: middle;
	text-align: left;
}

#menu1home li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 12px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;
}
#menu1home li a:link, #menu1home li a:visited {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFFFFF;
	display: block;
	padding: 10px 10px 10px 30px;
	background-color: #F6B614;
	vertical-align: middle;
	text-align: left;
}
#menu1home li a:hover {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFF;
	background: 0 -32px;
	padding: 10px 10px 10px 30px;
	display: block;
	background-color: #999999;
	text-align: left;
	vertical-align: middle;
}
#menu1home2 li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 12px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;
}
#menu1home2 li a:link, #menu1home2 li a:visited {
	border-style: none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #333333;
	display: block;
	padding: 10px 10px 10px 30px;
	background-color: #CCFF99;
	vertical-align: middle;
	text-align: left;
}
#menu1home2 li a:hover {
	border-style: none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFF;
	background: 0 -32px;
	padding: 10px 10px 10px 30px;
	display: block;
	background-color: #339966;
	text-align: left;
	vertical-align: middle;
}



.style11 {
	background-image: url('images/content_spacer_vert.jpg');
}
.style12 {
	background-image: url('images/header_inner_1~.jpg');
}
//h2 {
	color: #FFFFFF;
	padding: 20px;
	text-transform: capitalize;
	font-size: 24px;
	font-weight: bolder;
	width: 300px;
	height: 10px;
	background-image: url('images/bg_h2.png');
	background-repeat: repeat;
}//
#quotepanel {
	font-style: italic;
	background-color: #f5f5f5;
	padding: 18px 5px 18px 5px;
	border-style: solid none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	width: 255px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #800000;
}
#quotepanel_filler {
	border: 1px none #DEDEDE;
	font-style: italic;
	background-color: #FFFFFF;
	padding: 18px 5px 18px 5px;
	width: 255px;
	font-family: georgia;
	font-size: 8pt;
	color: #800000;
}

.pic_content {
	padding: 18px;
}
#pic_left {
	padding: 3px 9px 9px 0px;
}

.content {
	padding: 0px 18px 0px 0px;
}
h3 {
	color: #000000;
}
.header_cor {
	background-image: url('images/header_inner_2.jpg');
}
.header_per {
	background-image: url('images/header_inner_3.jpg');
}
.header_cli {
	background-image: url('images/header_inner_4.jpg');
}
.header_new {
	background-image: url('images/header_inner_5.jpg');
}
.header_car {
	background-image: url('images/header_inner_6.jpg');
}
.header_con {
	background-image: url('images/header_inner_7.jpg');
}
#bread {
	border-style: solid none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #333333;
	background-color: #f5f5f5;
	padding: 10px 3px 10px 20px;
	margin-bottom: 25px;
	line-height: 26px;
	font-weight: bold;
}
#bread ul {
	margin-left: 0;
	padding-left: 0;
	display: inline-block;
	border: none;
}
#bread ul li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: square;
	display: inline;
}
.u {
	text-decoration: underline;
}
select {
	color: #333333;
	font-size: 9pt;
	line-height: 15pt;
	font-family: arial, Helvetica, sans-serif;
}

#bull ul {
	list-style-type: circle;
}
#quotenews {
	background-color: #f5f5f5;
	padding: 5px;
	border-style: solid none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	width: 99%;
}
.quotenewscont {
	text-align: center;
}
.quotenewspic {
	border: 2px solid #CCCCCC;
}
.filler_panel {
	text-align: center;
}
#imgbord {
	border: 1px solid #C0C0C0;
}
#imgnobord {
	border: 1px solid #FFFFFF;
}
#inv input {
	border-style: none;
	color: #800000;
	font-weight: bold;
}
#hr_sep {
	background-image: url('images/content_spacer_vert.jpg');
	background-color: #008000;
}
#homemenupbg3 {
	border: thick solid #339933;
}
#queline {
	color: #a82326;
	font-weight: bold;
}
#queline {
	color: #F6B614;
	font-weight: bold;
}
.style14 {
	text-align: justify;
	padding: 0px;
	color: #333333;
	line-height: 15pt;
	font-weight: normal;
}
.style17 {
	margin: 0px 0px 5px 15px;
}
h3 {
	color: #333333;
}
#left_nav_c {
	text-align: justify;
}
.style18 {
	text-align: right;
}
.newStyle1 {
	padding: 0px 10px 0px 10px;
	vertical-align: top;
}
#queline {
	color: #a82326;
	font-weight: bold;
}
#queline {
	color: #F6B614;
	font-weight: bold;
}
.style14 {
	text-align: justify;
	padding: 0px;
	color: #333333;
	line-height: 15pt;
	font-weight: normal;
}
.style17 {
	margin: 0px 0px 5px 15px;
}
h3 {
	color: #333333;
}
#left_nav_c {
	text-align: justify;
}
.style18 {
	text-align: right;
}
.auto-style1 {
	background-image: url('images/home_block.jpg');
}
.newStyle1 {
	padding: 0px 10px 0px 10px;
	vertical-align: top;
}
#header_footer_body {
	padding: 0px 10px 0px 10px;
}
#menu_title {
	background-image: url('images/home_block.jpg');
	font-size: 15px;
	font-weight: normal;
	color: #FFFFFF;
	padding:  8px;
	vertical-align: middle;
}
#menu_title_inner {
	background-image: url('images/bg-menu-inner.jpg');
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 8px 20px 7px 10px;
	vertical-align: middle;
	margin-left: 10px;
}
#menu_title_inner~ {
	background-image: url('images/bg-menu.jpg');
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 8px 20px 7px 10px;
	vertical-align: middle;
}
#menu2 {
	padding: 0px;
	width: 265px;
	margin: 0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: middle;
	text-align: left;
}

#menu2 li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 12px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;
}
#menu2 li a:link, #menu1 li a:visited {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #666666;
	display: block;
	padding: 10px;
	background-color: #FFFFFF;
	vertical-align: middle;
	text-align: left;
}
#menu2 li a:hover {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFF;
	background: 0 -32px;
	padding: 10px;
	display: block;
	background-color: #999999;
	text-align: left;
	vertical-align: middle;
}
#menu2 {
	padding: 0px;
	width: 250px;
	margin: 0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: middle;
	text-align: left;
}
#quotepanel2 {
	font-style: italic;
	background-color: #f5f5f5;
	padding: 18px 5px 18px 5px;
	border-style: solid none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	width: 240px;
	font-family: georgia;
	font-size: 8pt;
	color: #800000;
}
#menu3 {
	padding: 0px;
	width: 125px;
	margin: 0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: middle;
	text-align: left;
}

#menu3 li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 12px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;
}
#menu3 li a:link, #menu3 li a:visited {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFFFFF;
	display: block;
	padding: 10px;
	background-color: #F6B614;
	vertical-align: middle;
	text-align: left;
}
#menu3 li a:hover {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFF;
	background: 0 -32px;
	padding: 10px;
	display: block;
	background-color: #999999;
	text-align: left;
	vertical-align: middle;
}
#menu3 {
	padding: 0px;
	width: 125px;
	margin: 0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: middle;
	text-align: left;
}

#col li {
	background-image: url('images/bullet.jpg');
	background-repeat: no-repeat;
	padding-left: 24px;
	padding-bottom: 2px;
	margin-left: 50px;
	background-position: 2px;
}
#col2 li {
	border-width: thick thick thin thick;
	background-image: url('images/bullet.jpg');
	background-repeat: no-repeat;
	padding-left: 24px;
	padding-bottom: 10px;
	margin-left: 24px;
	background-position: 2px;
	background-color: #f5f5f5;
	border-left-style: solid;
	padding-top: 10px;
	margin-right: 24px;
	border-bottom-style: dashed;
	margin-bottom: 20px;
}
#dl-support li {
	border-color: #CCCCCC;
	border-width: thin;
	background-image: url('images/ico-pdf-small.gif');
	background-repeat: no-repeat;
	padding-left: 46px;
	padding-bottom: 5px;
	margin-left: 0px;
	background-position: 15px;
	background-color: #f5f5f5;
	border-left-style: none;
	padding-top: 5px;
	margin-right: 0px;
	border-bottom-style: dotted;
	margin-bottom: 5px;
	border-top-style: dotted;
	font-weight: bold;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.auto-style2 {
	background-image: url('images/bg-menu-2.jpg');
}
#bullet {
	background-image: url('images/bullet.jpg');
	padding-left: 24px;
	background-repeat: no-repeat;
}
#copyli {
	padding-left: 24px;
	padding-bottom: 2px;
	margin-left: 0px;
	background-position: 2px;
}
#panel {
	padding: 0px;
	width: 265px;
	margin: 0px;
	font-family: arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: middle;
	text-align: left;
}

#panel li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 13px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;
}
#panel li a:link, #panel li a:visited {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFFFFF;
	display: block;
	padding: 10px;
	background-color: #aaacb3;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	background-image: url('images/bg-panel.jpg');
}
#panel li a:hover {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #FFF;
	background: 0 -32px;
	padding: 10px;
	display: block;
	background-color: #CCCCCC;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
}
.auto-style3 {
	background-image: url('images/bg-menu-3.jpg');
}
.auto-style4 {
	background-image: url('images/bg-menu-4.jpg');
}
.auto-style5 {
	background-image: url('images/bg-menu-5.jpg');
}
.auto-style6 {
	background-image: url('images/bg-menu-6.jpg');
}

#bread2 {
	margin: 15px;
	border-style: solid none solid none;
	border-width: 1px;
	border-color: #DEDEDE;
	color: #333333;
	background-color: #F5F5F5;
	padding: 10px;
	line-height: 26px;
	font-weight: normal;
}
#col3 li {
	border-style: none none dotted solid;
	border-color: #CCCCCC;
	border-width: thin thick thin thick;
	background-repeat: no-repeat;
	padding-left: 24px;
	padding-bottom: 10px;
	margin-left: 24px;
	background-position: 2px;
	background-color: #f5f5f5;
	padding-top: 10px;
	margin-right: 24px;
}
#col3~ li {
	border-color: #CCCCCC;
	border-width: thin thick thin thick;
	background-repeat: no-repeat;
	padding-left: 24px;
	padding-bottom: 10px;
	margin-left: 24px;
	background-position: 2px;
	background-color: #f5f5f5;
	border-left-style: solid;
	padding-top: 10px;
	margin-right: 24px;
	border-bottom-style: dashed;
	margin-bottom: 20px;
	border-top-style: dashed;
}
#left_menu {
	padding: 0px;
	width: 250px;
	margin: 0px;
	font-size: 9pt;
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
}
#left_menu li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 17px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;
}
#left_menu li a:link, #left_menu li a:visited {
	margin: 3px 0px 3px 0px;
	border-style: none none solid solid;
	border-width: 1px 1px 1px 7px;
	color: #333333;
	display: block;
	padding: 3px 3px 3px 13px;
	background-color: #f5f5f5;
	vertical-align: middle;
	text-align: left;
	border-left-color: #999999;
	border-bottom-color: #999999;
}
#left_menu li a:hover {
	border-style: none none solid solid;
	border-width: 1px 1px 1px 7px;
	border-color: #FF9900;
	color: #FFF;
	background: 0 -32px;
	padding: 3px 3px 3px 13px;
	display: block;
	background-color: #666666;
	text-align: left;
	vertical-align: middle;
}
#left_menu_seperator {
	padding: 0px;
	width: 250px;
	margin: 0px;
	font-size: 9pt;
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
}
#left_menu_seperator li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 17px;
	text-decoration: none;
	vertical-align: middle;
	text-align: left;

}
#left_menu_seperator li a:link, #left_menu_seperator li a:visited {
	margin: 3px 0px 3px 0px;
	border-style: none none solid solid;
	border-width: 1px 1px 1px 7px;
	color: #FFF;
	display: block;
	padding: 3px 3px 3px 13px;
	background-color: #666666;
	vertical-align: middle;
	text-align: left;
	border-left-color: #999999;
	border-bottom-color: #999999;

}
#left_menu_seperator li a:hover {
	border-style: none none solid solid;
	border-width: 1px 1px 1px 7px;
	border-color: #FF9900;
	color: #FFF;
	background: 0 -32px;
	padding: 3px 3px 3px 13px;
	display: block;
	background-color: #666666;
	text-align: left;
	vertical-align: middle;

}
#tab-report-head {
	background-color: #999999;
	color: #FFFFFF;
	padding: 2px 0px 2px 10px;
}
#item{
	background-color: #F0F0F0;
	/*border-style: none none none solid;
	border-width: thin thick medium thin;
	border-color: #808080 #808080 #FFFFFF #808080;*/
	padding: 5px 15px 5px 10px;
	margin: 3px 3px 10px 0px;
	font-weight: normal;
	text-transform: none;
	font-size: 12px;
	text-align: right;
        width: 165px;
        vertical-align: top;
}

#item2{
	background-color: #F0F0F0;
}
input {
	width: 200px;
	border: thin groove #CCCCCC;
	padding: 3px;
	margin: 0px 0px 0px 10px;
	background-color: #FBFBFB;
	font-size: 10pt;
}
select {
	border: thin groove #CCCCCC;
	padding: 3px;
	margin: 0px 0px 0px 10px;
	background-color: #FBFBFB;
	font-size: 10pt;
}
textarea {
	width: 200px;
	border: thin groove #CCCCCC;
	padding: 3px;
	margin: 0px 0px 0px 10px;
	height: 60px;
	background-color: #FBFBFB;
}
table.display{
        margin-left: auto;
        margin-right: auto;
	border: 1px solid #666;
        font-size: 12px;
	width: 100%;      
}

.display th,.display td {
	padding: 4px 4px 4px 4px !important;
	text-align: left;
	vertical-align: top;
}

.display thead tr {
	background-color: #999999;
}

.display th.sorted {
	background-color: #CCCCCC;
}

.display th a, .display th a:visited {
	color: black;
}

.display th a:hover {
	text-decoration: underline;
	color: black;
}

.display th.sorted a,.display th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

.display th.sortable a {
	background-image: url(../img/arrow_off.png);
    background-repeat: no-repeat;
}

.display th.order1 a {
	background-image: url(../img/arrow_down.png);
    background-repeat: no-repeat;
}

.display th.order2 a {
	background-image: url(../img/arrow_up.png);
    background-repeat: no-repeat;
}

.display tr.odd {
	background-color: #fff
}

.display tr.tableRowEven,.display tr.even {
	background-color: #CCCCCC
}
fieldset{
    border: 1px solid gray;
    border-radious: 10px;
}
.success{    
    background-image: url("images/success.png");
    float: left;
    height: 16px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    width: 16px;
}

.notification{    
    background-image: url("images/notification.png");
    float: left;
    height: 16px;
    margin-left: 16px;
    margin-right: 6px;
    margin-top: 6px;
    width: 16px;
}
.notification p{
    padding-left: 10px;
    text-align: justify;
}
.error{
     background-image: url("images/cross.png");
    float: left;
    height: 16px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    width: 16px;
}
.errorMessage {
    background-color: #FFDFDF;
    border-radius: 4px 4px 4px 4px;
    min-height: 29px;
}
.successMessage p, .errorMessage p, .notificationMsg p{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 6px;
}
.successMessage {
    background-color: #D5FFC3;
    border-radius: 4px 4px 4px 4px;
    min-height: 29px;
}
.notificationMsg{    
    background-color: #FFFBCC;
    border-radius: 4px 4px 4px 4px;
    min-height: 30px;
    margin-left: 23px;
    margin-right: 23px;
}
.message p{
    font-weight: bold;
    margin-left: 25px;
    padding-top: 6px;
}
.messageBox{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px 3px #CCCCCC;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 10px;
}
textarea.bigMailBox{
    width: 500px;
    height: 180px;
}
textarea.smallMailBox{
    width: 500px;
    height: 80px;
}
.instruction{
    background-color: #DBE3FF;
    border-radius: 4px 4px 4px 4px;
    min-height: 29px;
    padding: 5px;
}