form input.text-input,

form select,

form textarea,

form .wysiwyg {

    padding: 6px;

    font-size: 13px;

    border: 1px solid #d5d5d5;

    color: #333;

}

/*************** jQuery WYSIWYG ***************/



div.wysiwyg { border: 1px solid #cccccc; padding: 5px; background-color: #ffffff; width: 97.5% !important; }

div.wysiwyg * { margin: 0; padding: 0; }



div.wysiwyg ul.toolbar { border-bottom: 1px solid #cccccc; float: left; width: 100%; padding: 0 0 5px 0; }

div.wysiwyg ul.toolbar li { list-style-type: none; float: left; margin: 0 2px; padding: 0 !important;  background: #ffffff; background-image: none !important;}

div.wysiwyg ul.toolbar li.separator { height: 16px; margin: 0 4px; border-left: 1px solid #cccccc; }

div.wysiwyg ul.toolbar li a{ display: block; padding: 0 !important; width: 16px; height: 16px; background: url('images/jquery.wysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px; }

div.wysiwyg ul.toolbar li a:hover, div.wysiwyg ul.toolbar li a.active {  }

div.wysiwyg ul.toolbar li a.active { background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }



div.wysiwyg ul.toolbar li .bold { background-position: 0 -16px; }

div.wysiwyg ul.toolbar li .italic { background-position: -16px -16px; }

div.wysiwyg ul.toolbar li .strikeThrough { background-position: -32px -16px; }

div.wysiwyg ul.toolbar li .underline { background-position: -48px -16px; }



div.wysiwyg ul.toolbar li .justifyLeft { background-position: 0 0; }

div.wysiwyg ul.toolbar li .justifyCenter { background-position: -16px 0; }

div.wysiwyg ul.toolbar li .justifyRight { background-position: -32px 0; }

div.wysiwyg ul.toolbar li .justifyFull { background-position: -48px 0; }



div.wysiwyg ul.toolbar li .indent { background-position: -64px 0; }

div.wysiwyg ul.toolbar li .outdent { background-position: -80px 0; }



div.wysiwyg ul.toolbar li a.subscript { background-position: -64px -16px; }

div.wysiwyg ul.toolbar li a.superscript { background-position: -80px -16px; }



div.wysiwyg ul.toolbar li a.undo { background-position: 0 -64px; }

div.wysiwyg ul.toolbar li a.redo { background-position: -16px -64px; }



div.wysiwyg ul.toolbar li a.insertOrderedList { background-position: -32px -48px; }

div.wysiwyg ul.toolbar li a.insertUnorderedList { background-position: -16px -48px; }

div.wysiwyg ul.toolbar li a.insertHorizontalRule { background-position: 0 -48px; }



div.wysiwyg ul.toolbar li a.h1 { background-position: 0 -32px; }

div.wysiwyg ul.toolbar li a.h2 { background-position: -16px -32px; }

div.wysiwyg ul.toolbar li a.h3 { background-position: -32px -32px; }

div.wysiwyg ul.toolbar li a.h4 { background-position: -48px -32px; }

div.wysiwyg ul.toolbar li a.h5 { background-position: -64px -32px; }

div.wysiwyg ul.toolbar li a.h6 { background-position: -80px -32px; }



div.wysiwyg ul.toolbar li a.cut { background-position: -32px -64px; }

div.wysiwyg ul.toolbar li a.copy { background-position: -48px -64px; }

div.wysiwyg ul.toolbar li a.paste { background-position: -64px -64px; }



div.wysiwyg ul.toolbar li a.increaseFontSize { background-position: -16px -80px; }

div.wysiwyg ul.toolbar li a.decreaseFontSize { background-position: -32px -80px; }



div.wysiwyg ul.toolbar li a.createLink { background-position: -80px -48px; }

div.wysiwyg ul.toolbar li a.insertImage { background-position: -80px -80px; }



div.wysiwyg ul.toolbar li a.html { background-position: -48px -48px; }

div.wysiwyg ul.toolbar li a.removeFormat { background-position: -80px -64px; }



div.wysiwyg ul.toolbar li a.empty { background-position: -64px -80px; }



div.wysiwyg iframe { border: 0; margin: 5px 0 0 0; clear: left; width: 97.5% !important; }