<%@page import="com.mangoca.cmp.model.User"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>

<c:set var="ra" value="<%=User.ADMIN_RA%>"/>
<c:set var="cc" value="<%=User.ADMIN_CC%>"/>
<c:set var="tech" value="<%=User.ADMIN_TECH%>"/>

<bean:define id="enrollId" name="data" property="enrollId"/>
<display:column property="userCIN" title="CIN" sortable="true"/>
<%--display:column property="fullName" title="Name" sortable="true"/--%> 
<display:column property="certClass" title="Certificate" sortable="true"/>
<display:column title="Date">
    <fmt:formatDate pattern="dd-MM-yyyy" value="${data.revocation.applyDate}"/>
</display:column>
<display:column title="Status"><bean:message key="status.${data.revocation.status}"/></display:column>
<display:column title="reasons"><c:out value="${data.revocation.reasons}" default="None"/></display:column>
<display:column title="Action">
        <c:if test="${userRole==ra || userRole==cc || userRole==tech}">
            <html:link page="/applicationAction.do?method=revokeAction"  paramName="enrollId" paramId="enrollId">Action</html:link>
        </c:if>
    <html:link page="/RevocationAction.do?method=view"  paramName="enrollId" paramId="enrollId">Details</html:link>

</display:column> 