<tr>
    <td id="item"><bean:message key="label.enrollId"/></td>
    <td><c:out value="${enrolleduser.enrollId}" default="No"/></td>
</tr>
<tr>
    <td id="item"><bean:message key="label.userCIN"/></td>
    <td><c:out value="${enrolleduser.userCIN}" default="No"/></td>
</tr>
<tr>
    <td id="item"><bean:message key="label.fullName"/></td>
    <td><c:out value="${enrolleduser.fullName}" default="No"/></td>
</tr>
<tr>
    <td id="item"><bean:message key="label.userName"/></td>
    <td><c:out value="${enrolleduser.userName}" default="No"/></td>
</tr>
