<%@page import="com.mangoca.cmp.database.Constants"%>
<tr>
    <td style="width: 33%" id="item"><bean:message key="label.certClass"/></td>
    <td><html:select property="certClass">
    <html:option value="">Select</html:option>
    <html:option value="<%=Constants.CERT_CLASS_1%>"/>
    <html:option value="<%=Constants.CERT_CLASS_2%>"/>
    <html:option value="<%=Constants.CERT_CLASS_3%>"/>
    <html:option value="<%=Constants.CERT_CLASS_4%>"/>
    <html:option value="<%=Constants.CERT_CLASS_5%>"/>
    <html:option value="<%=Constants.CERT_CLASS_6%>"/>
    </html:select></td>
</tr>	
