<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<tr>
    <td style="width: 33%" id="item">Phone</td>
    <td><c:out value="${ticket.ticketPhone}" default="Not Entered"/></td>
</tr>
<tr>
    <td style="width: 33%" id="item">Help  Topics</td>
    <td><c:out value="${ticket.helpTopics}" default="Not Entered"/></td>
</tr>
<tr>
    <td style="width: 33%" id="item">Subject</td>
    <td><c:out value="${ticket.subject}" default="Not Entered"/></td>
</tr>
<c:forEach items="${ticket.ticketmessages}" var="message">
<tr>
    <td style="width: 33%" id="item">Message</td>
    <td><div class="messageBox">${message.message}</div></td>
</tr> 
<c:if test="${!empty message.replyMessage}">
<tr>
    <td style="width: 33%" id="item">Reply</td>
    <td><div class="messageBox">${message.replyMessage}</div></td>
</tr> 
</c:if>
</c:forEach>